@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="container d-xl-flex align-items-xl-end" style="margin-top: 20px;">
    <h4 class="text-danger flex-fill">Confratulations !!!</h4>
</div>
<hr />

<div class="container">
    <form>
        <div class="form-row">
            <div class="col">
                <div class="card shadow-sm">
                    <div class="card-body">
                        <h1 class="text-success"><img src="~/img/accept.png" style="width: 80px;margin-right: 49px;" />You Donation is Accepted </h1>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>