@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron hero-technology shadow" style="height: 638px;">
    <h1 class="text-warning hero-title">Crowd Funding</h1>
    <p class="hero-subtitle">Perfect Place to Raise your Fund</p>
    <p><a class="btn btn-primary btn-lg hero-button" role="button" href="/Campigns/Index">Search</a></p>
</div>
